@theme {
  /* gray */
  --color-cha-gray-50: #fafafa;
  --color-cha-gray-100: #f4f4f5;
  --color-cha-gray-200: #e4e4e7;
  --color-cha-gray-300: #d4d4d8;
  --color-cha-gray-400: #a1a1aa;
  --color-cha-gray-500: #71717a;
  --color-cha-gray-600: #52525b;
  --color-cha-gray-700: #3f3f46;
  --color-cha-gray-800: #27272a;
  --color-cha-gray-900: #18181b;
  --color-cha-gray-950: #111111;
  /* red */
  --color-cha-red-50: #fef2f2;
  --color-cha-red-100: #fee2e2;
  --color-cha-red-200: #fecaca;
  --color-cha-red-300: #fca5a5;
  --color-cha-red-400: #f87171;
  --color-cha-red-500: #ef4444;
  --color-cha-red-600: #dc2626;
  --color-cha-red-700: #991919;
  --color-cha-red-800: #511111;
  --color-cha-red-900: #300c0c;
  --color-cha-red-950: #1f0808;
  /* pink */
  --color-cha-pink-50: #fdf2f8;
  --color-cha-pink-100: #fce7f3;
  --color-cha-pink-200: #fbcfe8;
  --color-cha-pink-300: #f9a8d4;
  --color-cha-pink-400: #f472b6;
  --color-cha-pink-500: #ec4899;
  --color-cha-pink-600: #db2777;
  --color-cha-pink-700: #a41752;
  --color-cha-pink-800: #6d0e34;
  --color-cha-pink-900: #45061f;
  --color-cha-pink-950: #2c0514;
  /* purple */
  --color-cha-purple-50: #faf5ff;
  --color-cha-purple-100: #f3e8ff;
  --color-cha-purple-200: #e9d5ff;
  --color-cha-purple-300: #d8b4fe;
  --color-cha-purple-400: #c084fc;
  --color-cha-purple-500: #a855f7;
  --color-cha-purple-600: #9333ea;
  --color-cha-purple-700: #641ba3;
  --color-cha-purple-800: #4a1772;
  --color-cha-purple-900: #2f0553;
  --color-cha-purple-950: #1a032e;
  /* cyan */
  --color-cha-cyan-50: #ecfeff;
  --color-cha-cyan-100: #cffafe;
  --color-cha-cyan-200: #a5f3fc;
  --color-cha-cyan-300: #67e8f9;
  --color-cha-cyan-400: #22d3ee;
  --color-cha-cyan-500: #06b6d4;
  --color-cha-cyan-600: #0891b2;
  --color-cha-cyan-700: #0c5c72;
  --color-cha-cyan-800: #134152;
  --color-cha-cyan-900: #072a38;
  --color-cha-cyan-950: #051b24;
  /* blue */
  --color-cha-blue-50: #eff6ff;
  --color-cha-blue-100: #dbeafe;
  --color-cha-blue-200: #bfdbfe;
  --color-cha-blue-300: #a3cfff;
  --color-cha-blue-400: #60a5fa;
  --color-cha-blue-500: #3b82f6;
  --color-cha-blue-600: #2563eb;
  --color-cha-blue-700: #173da6;
  --color-cha-blue-800: #1a3478;
  --color-cha-blue-900: #14204a;
  --color-cha-blue-950: #0c142e;
  /* teal */
  --color-cha-teal-50: #f0fdfa;
  --color-cha-teal-100: #ccfbf1;
  --color-cha-teal-200: #99f6e4;
  --color-cha-teal-300: #5eead4;
  --color-cha-teal-400: #2dd4bf;
  --color-cha-teal-500: #14b8a6;
  --color-cha-teal-600: #0d9488;
  --color-cha-teal-700: #0c5d56;
  --color-cha-teal-800: #114240;
  --color-cha-teal-900: #032726;
  --color-cha-teal-950: #021716;
  /* green */
  --color-cha-green-50: #f0fdf4;
  --color-cha-green-100: #dcfce7;
  --color-cha-green-200: #bbf7d0;
  --color-cha-green-300: #86efac;
  --color-cha-green-400: #4ade80;
  --color-cha-green-500: #22c55e;
  --color-cha-green-600: #16a34a;
  --color-cha-green-700: #116932;
  --color-cha-green-800: #124a28;
  --color-cha-green-900: #042713;
  --color-cha-green-950: #03190c;
  /* yellow */
  --color-cha-yellow-50: #fefce8;
  --color-cha-yellow-100: #fef9c3;
  --color-cha-yellow-200: #fef08a;
  --color-cha-yellow-300: #fde047;
  --color-cha-yellow-400: #facc15;
  --color-cha-yellow-500: #eab308;
  --color-cha-yellow-600: #ca8a04;
  --color-cha-yellow-700: #845209;
  --color-cha-yellow-800: #713f12;
  --color-cha-yellow-900: #422006;
  --color-cha-yellow-950: #281304;
  /* orange */
  --color-cha-orange-50: #fff7ed;
  --color-cha-orange-100: #ffedd5;
  --color-cha-orange-200: #fed7aa;
  --color-cha-orange-300: #fdba74;
  --color-cha-orange-400: #fb923c;
  --color-cha-orange-500: #f97316;
  --color-cha-orange-600: #ea580c;
  --color-cha-orange-700: #92310a;
  --color-cha-orange-800: #6c2710;
  --color-cha-orange-900: #3b1106;
  --color-cha-orange-950: #220a04;
}
