@theme {
  /* Gray */
  --color-radix-gray-1: #fcfcfc;
  --color-radix-gray-2: #f9f9f9;
  --color-radix-gray-3: #f0f0f0;
  --color-radix-gray-4: #e8e8e8;
  --color-radix-gray-5: #e0e0e0;
  --color-radix-gray-6: #d9d9d9;
  --color-radix-gray-7: #cecece;
  --color-radix-gray-8: #bbbbbb;
  --color-radix-gray-9: #8d8d8d;
  --color-radix-gray-10: #838383;
  --color-radix-gray-11: #646464;
  --color-radix-gray-12: #202020;
  /* Mauve */
  --color-radix-mauve-1: #fdfcfd;
  --color-radix-mauve-2: #faf9fb;
  --color-radix-mauve-3: #f2eff3;
  --color-radix-mauve-4: #eae7ec;
  --color-radix-mauve-5: #e3dfe6;
  --color-radix-mauve-6: #dbd8e0;
  --color-radix-mauve-7: #d0cdd7;
  --color-radix-mauve-8: #bcbac7;
  --color-radix-mauve-9: #8e8c99;
  --color-radix-mauve-10: #84828e;
  --color-radix-mauve-11: #65636d;
  --color-radix-mauve-12: #211f26;
  /* Slate */
  --color-radix-slate-1: #fcfcfd;
  --color-radix-slate-2: #f9f9fb;
  --color-radix-slate-3: #f0f0f3;
  --color-radix-slate-4: #e8e8ec;
  --color-radix-slate-5: #e0e1e6;
  --color-radix-slate-6: #d9d9e0;
  --color-radix-slate-7: #cdced6;
  --color-radix-slate-8: #b9bbc6;
  --color-radix-slate-9: #8b8d98;
  --color-radix-slate-10: #80838d;
  --color-radix-slate-11: #60646c;
  --color-radix-slate-12: #1c2024;
  /* Sage */
  --color-radix-sage-1: #fbfdfc;
  --color-radix-sage-2: #f7f9f8;
  --color-radix-sage-3: #eef1f0;
  --color-radix-sage-4: #e6e9e8;
  --color-radix-sage-5: #dfe2e0;
  --color-radix-sage-6: #d7dad9;
  --color-radix-sage-7: #cbcfcd;
  --color-radix-sage-8: #b8bcba;
  --color-radix-sage-9: #868e8b;
  --color-radix-sage-10: #7c8481;
  --color-radix-sage-11: #5f6563;
  --color-radix-sage-12: #1a211e;
  /* Olive */
  --color-radix-olive-1: #fcfdfc;
  --color-radix-olive-2: #f8faf8;
  --color-radix-olive-3: #eff1ef;
  --color-radix-olive-4: #e7e9e7;
  --color-radix-olive-5: #dfe2df;
  --color-radix-olive-6: #d7dad7;
  --color-radix-olive-7: #cccfcc;
  --color-radix-olive-8: #b9bcb8;
  --color-radix-olive-9: #898e87;
  --color-radix-olive-10: #7f847d;
  --color-radix-olive-11: #60655f;
  --color-radix-olive-12: #1d211c;
  /* Sand */
  --color-radix-sand-1: #fdfdfc;
  --color-radix-sand-2: #f9f9f8;
  --color-radix-sand-3: #f1f0ef;
  --color-radix-sand-4: #e9e8e6;
  --color-radix-sand-5: #e2e1de;
  --color-radix-sand-6: #dad9d6;
  --color-radix-sand-7: #cfceca;
  --color-radix-sand-8: #bcbbb5;
  --color-radix-sand-9: #8d8d86;
  --color-radix-sand-10: #82827c;
  --color-radix-sand-11: #63635e;
  --color-radix-sand-12: #21201c;
  /* Tomato */
  --color-radix-tomato-1: #fffcfc;
  --color-radix-tomato-2: #fff8f7;
  --color-radix-tomato-3: #feebe7;
  --color-radix-tomato-4: #ffdcd3;
  --color-radix-tomato-5: #ffcdc2;
  --color-radix-tomato-6: #fdbdaf;
  --color-radix-tomato-7: #f5a898;
  --color-radix-tomato-8: #ec8e7b;
  --color-radix-tomato-9: #e54d2e;
  --color-radix-tomato-10: #dd4425;
  --color-radix-tomato-11: #d13415;
  --color-radix-tomato-12: #5c271f;
  /* Red */
  --color-radix-red-1: #fffcfc;
  --color-radix-red-2: #fff7f7;
  --color-radix-red-3: #feebec;
  --color-radix-red-4: #ffdbdc;
  --color-radix-red-5: #ffcdce;
  --color-radix-red-6: #fdbdbe;
  --color-radix-red-7: #f4a9aa;
  --color-radix-red-8: #eb8e90;
  --color-radix-red-9: #e5484d;
  --color-radix-red-10: #dc3e42;
  --color-radix-red-11: #ce2c31;
  --color-radix-red-12: #641723;
  /* Ruby */
  --color-radix-ruby-1: #fffcfd;
  --color-radix-ruby-2: #fff7f8;
  --color-radix-ruby-3: #feeaed;
  --color-radix-ruby-4: #ffdce1;
  --color-radix-ruby-5: #ffced6;
  --color-radix-ruby-6: #f8bfc8;
  --color-radix-ruby-7: #efacb8;
  --color-radix-ruby-8: #e592a3;
  --color-radix-ruby-9: #e54666;
  --color-radix-ruby-10: #dc3b5d;
  --color-radix-ruby-11: #ca244d;
  --color-radix-ruby-12: #64172b;
  /* Crimson */
  --color-radix-crimson-1: #fffcfd;
  --color-radix-crimson-2: #fef7f9;
  --color-radix-crimson-3: #ffe9f0;
  --color-radix-crimson-4: #fedce7;
  --color-radix-crimson-5: #facedd;
  --color-radix-crimson-6: #f3bed1;
  --color-radix-crimson-7: #eaacc3;
  --color-radix-crimson-8: #e093b2;
  --color-radix-crimson-9: #e93d82;
  --color-radix-crimson-10: #df3478;
  --color-radix-crimson-11: #cb1d63;
  --color-radix-crimson-12: #621639;
  /* Pink */
  --color-radix-pink-1: #fffcfe;
  --color-radix-pink-2: #fef7fb;
  --color-radix-pink-3: #fee9f5;
  --color-radix-pink-4: #fbdcef;
  --color-radix-pink-5: #f6cee7;
  --color-radix-pink-6: #efbfdd;
  --color-radix-pink-7: #e7acd0;
  --color-radix-pink-8: #dd93c2;
  --color-radix-pink-9: #d6409f;
  --color-radix-pink-10: #cf3897;
  --color-radix-pink-11: #c2298a;
  --color-radix-pink-12: #651249;
  /* Plum */
  --color-radix-plum-1: #fefcff;
  --color-radix-plum-2: #fdf7fd;
  --color-radix-plum-3: #fbebfb;
  --color-radix-plum-4: #f7def8;
  --color-radix-plum-5: #f2d1f3;
  --color-radix-plum-6: #e9c2ec;
  --color-radix-plum-7: #deade3;
  --color-radix-plum-8: #cf91d8;
  --color-radix-plum-9: #ab4aba;
  --color-radix-plum-10: #a144af;
  --color-radix-plum-11: #953ea3;
  --color-radix-plum-12: #53195d;
  /* Purple */
  --color-radix-purple-1: #fefcfe;
  --color-radix-purple-2: #fbf7fe;
  --color-radix-purple-3: #f7edfe;
  --color-radix-purple-4: #f2e2fc;
  --color-radix-purple-5: #ead5f9;
  --color-radix-purple-6: #e0c4f4;
  --color-radix-purple-7: #d1afec;
  --color-radix-purple-8: #be93e4;
  --color-radix-purple-9: #8e4ec6;
  --color-radix-purple-10: #8347b9;
  --color-radix-purple-11: #8145b5;
  --color-radix-purple-12: #402060;
  /* Violet */
  --color-radix-violet-1: #fdfcfe;
  --color-radix-violet-2: #faf8ff;
  --color-radix-violet-3: #f4f0fe;
  --color-radix-violet-4: #ebe4ff;
  --color-radix-violet-5: #e1d9ff;
  --color-radix-violet-6: #d4cafe;
  --color-radix-violet-7: #c2b5f5;
  --color-radix-violet-8: #aa99ec;
  --color-radix-violet-9: #6e56cf;
  --color-radix-violet-10: #654dc4;
  --color-radix-violet-11: #6550b9;
  --color-radix-violet-12: #2f265f;
  /* Iris */
  --color-radix-iris-1: #fdfdff;
  --color-radix-iris-2: #f8f8ff;
  --color-radix-iris-3: #f0f1fe;
  --color-radix-iris-4: #e6e7ff;
  --color-radix-iris-5: #dadcff;
  --color-radix-iris-6: #cbcdff;
  --color-radix-iris-7: #b8baf8;
  --color-radix-iris-8: #9b9ef0;
  --color-radix-iris-9: #5b5bd6;
  --color-radix-iris-10: #5151cd;
  --color-radix-iris-11: #5753c6;
  --color-radix-iris-12: #272962;
  /* Indigo */
  --color-radix-indigo-1: #fdfdfe;
  --color-radix-indigo-2: #f7f9ff;
  --color-radix-indigo-3: #edf2fe;
  --color-radix-indigo-4: #e1e9ff;
  --color-radix-indigo-5: #d2deff;
  --color-radix-indigo-6: #c1d0ff;
  --color-radix-indigo-7: #abbdf9;
  --color-radix-indigo-8: #8da4ef;
  --color-radix-indigo-9: #3e63dd;
  --color-radix-indigo-10: #3358d4;
  --color-radix-indigo-11: #3a5bc7;
  --color-radix-indigo-12: #1f2d5c;
  /* Blue */
  --color-radix-blue-1: #fbfdff;
  --color-radix-blue-2: #f4faff;
  --color-radix-blue-3: #e6f4fe;
  --color-radix-blue-4: #d5efff;
  --color-radix-blue-5: #c2e5ff;
  --color-radix-blue-6: #acd8fc;
  --color-radix-blue-7: #8ec8f6;
  --color-radix-blue-8: #5eb1ef;
  --color-radix-blue-9: #0090ff;
  --color-radix-blue-10: #0588f0;
  --color-radix-blue-11: #0d74ce;
  --color-radix-blue-12: #113264;
  /* Cyan */
  --color-radix-cyan-1: #fafdfe;
  --color-radix-cyan-2: #f2fafb;
  --color-radix-cyan-3: #def7f9;
  --color-radix-cyan-4: #caf1f6;
  --color-radix-cyan-5: #b5e9f0;
  --color-radix-cyan-6: #9ddde7;
  --color-radix-cyan-7: #7dcedc;
  --color-radix-cyan-8: #3db9cf;
  --color-radix-cyan-9: #00a2c7;
  --color-radix-cyan-10: #0797b9;
  --color-radix-cyan-11: #107d98;
  --color-radix-cyan-12: #0d3c48;
  /* Teal */
  --color-radix-teal-1: #fafefd;
  --color-radix-teal-2: #f3fbf9;
  --color-radix-teal-3: #e0f8f3;
  --color-radix-teal-4: #ccf3ea;
  --color-radix-teal-5: #b8eae0;
  --color-radix-teal-6: #a1ded2;
  --color-radix-teal-7: #83cdc1;
  --color-radix-teal-8: #53b9ab;
  --color-radix-teal-9: #12a594;
  --color-radix-teal-10: #0d9b8a;
  --color-radix-teal-11: #008573;
  --color-radix-teal-12: #0d3d38;
  /* Jade */
  --color-radix-jade-1: #fbfefd;
  --color-radix-jade-2: #f4fbf7;
  --color-radix-jade-3: #e6f7ed;
  --color-radix-jade-4: #d6f1e3;
  --color-radix-jade-5: #c3e9d7;
  --color-radix-jade-6: #acdec8;
  --color-radix-jade-7: #8bceb6;
  --color-radix-jade-8: #56ba9f;
  --color-radix-jade-9: #29a383;
  --color-radix-jade-10: #26997b;
  --color-radix-jade-11: #208368;
  --color-radix-jade-12: #1d3b31;
  /* Green */
  --color-radix-green-1: #fbfefc;
  --color-radix-green-2: #f4fbf6;
  --color-radix-green-3: #e6f6eb;
  --color-radix-green-4: #d6f1df;
  --color-radix-green-5: #c4e8d1;
  --color-radix-green-6: #adddc0;
  --color-radix-green-7: #8eceaa;
  --color-radix-green-8: #5bb98b;
  --color-radix-green-9: #30a46c;
  --color-radix-green-10: #2b9a66;
  --color-radix-green-11: #218358;
  --color-radix-green-12: #193b2d;
  /* Grass */
  --color-radix-grass-1: #fbfefb;
  --color-radix-grass-2: #f5fbf5;
  --color-radix-grass-3: #e9f6e9;
  --color-radix-grass-4: #daf1db;
  --color-radix-grass-5: #c9e8ca;
  --color-radix-grass-6: #b2ddb5;
  --color-radix-grass-7: #94ce9a;
  --color-radix-grass-8: #65ba74;
  --color-radix-grass-9: #46a758;
  --color-radix-grass-10: #3e9b4f;
  --color-radix-grass-11: #2a7e3b;
  --color-radix-grass-12: #203c25;
  /* Brown */
  --color-radix-brown-1: #fefdfc;
  --color-radix-brown-2: #fcf9f6;
  --color-radix-brown-3: #f6eee7;
  --color-radix-brown-4: #f0e4d9;
  --color-radix-brown-5: #ebdaca;
  --color-radix-brown-6: #e4cdb7;
  --color-radix-brown-7: #dcbc9f;
  --color-radix-brown-8: #cea37e;
  --color-radix-brown-9: #ad7f58;
  --color-radix-brown-10: #a07553;
  --color-radix-brown-11: #815e46;
  --color-radix-brown-12: #3e332e;
  /* Bronze */
  --color-radix-bronze-1: #fdfcfc;
  --color-radix-bronze-2: #fdf7f5;
  --color-radix-bronze-3: #f6edea;
  --color-radix-bronze-4: #efe4df;
  --color-radix-bronze-5: #e7d9d3;
  --color-radix-bronze-6: #dfcdc5;
  --color-radix-bronze-7: #d3bcb3;
  --color-radix-bronze-8: #c2a499;
  --color-radix-bronze-9: #a18072;
  --color-radix-bronze-10: #957468;
  --color-radix-bronze-11: #7d5e54;
  --color-radix-bronze-12: #43302b;
  /* Gold */
  --color-radix-gold-1: #fdfdfc;
  --color-radix-gold-2: #faf9f2;
  --color-radix-gold-3: #f2f0e7;
  --color-radix-gold-4: #eae6db;
  --color-radix-gold-5: #e1dccf;
  --color-radix-gold-6: #d8d0bf;
  --color-radix-gold-7: #cbc0aa;
  --color-radix-gold-8: #b9a88d;
  --color-radix-gold-9: #978365;
  --color-radix-gold-10: #8c7a5e;
  --color-radix-gold-11: #71624b;
  --color-radix-gold-12: #3b352b;
  /* Sky */
  --color-radix-sky-1: #f9feff;
  --color-radix-sky-2: #f1fafd;
  --color-radix-sky-3: #e1f6fd;
  --color-radix-sky-4: #d1f0fa;
  --color-radix-sky-5: #bee7f5;
  --color-radix-sky-6: #a9daed;
  --color-radix-sky-7: #8dcae3;
  --color-radix-sky-8: #60b3d7;
  --color-radix-sky-9: #7ce2fe;
  --color-radix-sky-10: #74daf8;
  --color-radix-sky-11: #00749e;
  --color-radix-sky-12: #1d3e56;
  /* Mint */
  --color-radix-mint-1: #f9fefd;
  --color-radix-mint-2: #f2fbf9;
  --color-radix-mint-3: #ddf9f2;
  --color-radix-mint-4: #c8f4e9;
  --color-radix-mint-5: #b3ecde;
  --color-radix-mint-6: #9ce0d0;
  --color-radix-mint-7: #7ecfbd;
  --color-radix-mint-8: #4cbba5;
  --color-radix-mint-9: #86ead4;
  --color-radix-mint-10: #7de0cb;
  --color-radix-mint-11: #027864;
  --color-radix-mint-12: #16433c;
  /* Lime */
  --color-radix-lime-1: #fcfdfa;
  --color-radix-lime-2: #f8faf3;
  --color-radix-lime-3: #eef6d6;
  --color-radix-lime-4: #e2f0bd;
  --color-radix-lime-5: #d3e7a6;
  --color-radix-lime-6: #c2da91;
  --color-radix-lime-7: #abc978;
  --color-radix-lime-8: #8db654;
  --color-radix-lime-9: #bdee63;
  --color-radix-lime-10: #b0e64c;
  --color-radix-lime-11: #5c7c2f;
  --color-radix-lime-12: #37401c;
  /* Yellow */
  --color-radix-yellow-1: #fdfdf9;
  --color-radix-yellow-2: #fefce9;
  --color-radix-yellow-3: #fffab8;
  --color-radix-yellow-4: #fff394;
  --color-radix-yellow-5: #ffe770;
  --color-radix-yellow-6: #f3d768;
  --color-radix-yellow-7: #e4c767;
  --color-radix-yellow-8: #d5ae39;
  --color-radix-yellow-9: #ffe629;
  --color-radix-yellow-10: #ffdc00;
  --color-radix-yellow-11: #9e6c00;
  --color-radix-yellow-12: #473b1f;
  /* Amber */
  --color-radix-amber-1: #fefdfb;
  --color-radix-amber-2: #fefbe9;
  --color-radix-amber-3: #fff7c2;
  --color-radix-amber-4: #ffee9c;
  --color-radix-amber-5: #fbe577;
  --color-radix-amber-6: #f3d673;
  --color-radix-amber-7: #e9c162;
  --color-radix-amber-8: #e2a336;
  --color-radix-amber-9: #ffc53d;
  --color-radix-amber-10: #ffba18;
  --color-radix-amber-11: #ab6400;
  --color-radix-amber-12: #4f3422;
  /* Orange */
  --color-radix-orange-1: #fefcfb;
  --color-radix-orange-2: #fff7ed;
  --color-radix-orange-3: #ffefd6;
  --color-radix-orange-4: #ffdfb5;
  --color-radix-orange-5: #ffd19a;
  --color-radix-orange-6: #ffc182;
  --color-radix-orange-7: #f5ae73;
  --color-radix-orange-8: #ec9455;
  --color-radix-orange-9: #f76b15;
  --color-radix-orange-10: #ef5f00;
  --color-radix-orange-11: #cc4e00;
  --color-radix-orange-12: #582d1d;
  /* Alpha */
  --color-radix-alpha-1: rgba(255, 255, 255, 0.05);
  --color-radix-alpha-2: rgba(255, 255, 255, 0.1);
  --color-radix-alpha-3: rgba(255, 255, 255, 0.15);
  --color-radix-alpha-4: rgba(255, 255, 255, 0.2);
  --color-radix-alpha-5: rgba(255, 255, 255, 0.3);
  --color-radix-alpha-6: rgba(255, 255, 255, 0.4);
  --color-radix-alpha-7: rgba(255, 255, 255, 0.5);
  --color-radix-alpha-8: rgba(255, 255, 255, 0.6);
  --color-radix-alpha-9: rgba(255, 255, 255, 0.7);
  --color-radix-alpha-10: rgba(255, 255, 255, 0.8);
  --color-radix-alpha-11: rgba(255, 255, 255, 0.9);
  --color-radix-alpha-12: rgba(255, 255, 255, 0.95);
}
