@theme {
  /* Gray */
  --color-ra-gray-dark-alpha-1: #00000000;
  --color-ra-gray-dark-alpha-2: #ffffff09;
  --color-ra-gray-dark-alpha-3: #ffffff12;
  --color-ra-gray-dark-alpha-4: #ffffff1b;
  --color-ra-gray-dark-alpha-5: #ffffff22;
  --color-ra-gray-dark-alpha-6: #ffffff2c;
  --color-ra-gray-dark-alpha-7: #ffffff3b;
  --color-ra-gray-dark-alpha-8: #ffffff55;
  --color-ra-gray-dark-alpha-9: #ffffff64;
  --color-ra-gray-dark-alpha-10: #ffffff72;
  --color-ra-gray-dark-alpha-11: #ffffffaf;
  --color-ra-gray-dark-alpha-12: #ffffffed;
  /* Mauve */
  --color-ra-mauve-dark-alpha-1: #00000000;
  --color-ra-mauve-dark-alpha-2: #f5f4f609;
  --color-ra-mauve-dark-alpha-3: #ebeaf814;
  --color-ra-mauve-dark-alpha-4: #eee5f81d;
  --color-ra-mauve-dark-alpha-5: #efe6fe25;
  --color-ra-mauve-dark-alpha-6: #f1e6fd30;
  --color-ra-mauve-dark-alpha-7: #eee9ff40;
  --color-ra-mauve-dark-alpha-8: #eee7ff5d;
  --color-ra-mauve-dark-alpha-9: #eae6fd6e;
  --color-ra-mauve-dark-alpha-10: #ece9fd7c;
  --color-ra-mauve-dark-alpha-11: #f5f1ffb7;
  --color-ra-mauve-dark-alpha-12: #fdfdffef;
  /* Slate */
  --color-ra-slate-dark-alpha-1: #00000000;
  --color-ra-slate-dark-alpha-2: #d8f4f609;
  --color-ra-slate-dark-alpha-3: #ddeaf814;
  --color-ra-slate-dark-alpha-4: #d3edf81d;
  --color-ra-slate-dark-alpha-5: #d9edfe25;
  --color-ra-slate-dark-alpha-6: #d6ebfd30;
  --color-ra-slate-dark-alpha-7: #d9edff40;
  --color-ra-slate-dark-alpha-8: #d9edff5d;
  --color-ra-slate-dark-alpha-9: #dfebfd6d;
  --color-ra-slate-dark-alpha-10: #e5edfd7b;
  --color-ra-slate-dark-alpha-11: #f1f7feb5;
  --color-ra-slate-dark-alpha-12: #fcfdffef;
  /* Sage */
  --color-ra-sage-dark-alpha-1: #00000000;
  --color-ra-sage-dark-alpha-2: #f0f2f108;
  --color-ra-sage-dark-alpha-3: #f3f5f412;
  --color-ra-sage-dark-alpha-4: #f2fefd1a;
  --color-ra-sage-dark-alpha-5: #f1fbfa22;
  --color-ra-sage-dark-alpha-6: #edfbf42d;
  --color-ra-sage-dark-alpha-7: #edfcf73c;
  --color-ra-sage-dark-alpha-8: #ebfdf657;
  --color-ra-sage-dark-alpha-9: #dffdf266;
  --color-ra-sage-dark-alpha-10: #e5fdf674;
  --color-ra-sage-dark-alpha-11: #f4fefbb0;
  --color-ra-sage-dark-alpha-12: #fdfffeed;
  /* Olive */
  --color-ra-olive-dark-alpha-1: #00000000;
  --color-ra-olive-dark-alpha-2: #f1f2f008;
  --color-ra-olive-dark-alpha-3: #f4f5f312;
  --color-ra-olive-dark-alpha-4: #f3fef21a;
  --color-ra-olive-dark-alpha-5: #f2fbf122;
  --color-ra-olive-dark-alpha-6: #f4faed2c;
  --color-ra-olive-dark-alpha-7: #f2fced3b;
  --color-ra-olive-dark-alpha-8: #edfdeb57;
  --color-ra-olive-dark-alpha-9: #ebfde766;
  --color-ra-olive-dark-alpha-10: #f0fdec74;
  --color-ra-olive-dark-alpha-11: #f6fef4b0;
  --color-ra-olive-dark-alpha-12: #fdfffded;
  /* Sand */
  --color-ra-sand-dark-alpha-1: #00000000;
  --color-ra-sand-dark-alpha-2: #f4f4f309;
  --color-ra-sand-dark-alpha-3: #f6f6f513;
  --color-ra-sand-dark-alpha-4: #fefef31b;
  --color-ra-sand-dark-alpha-5: #fbfbeb23;
  --color-ra-sand-dark-alpha-6: #fffaed2d;
  --color-ra-sand-dark-alpha-7: #fffbed3c;
  --color-ra-sand-dark-alpha-8: #fff9eb57;
  --color-ra-sand-dark-alpha-9: #fffae965;
  --color-ra-sand-dark-alpha-10: #fffdee73;
  --color-ra-sand-dark-alpha-11: #fffcf4b0;
  --color-ra-sand-dark-alpha-12: #fffffded;
  /* Tomato */
  --color-ra-tomato-dark-alpha-1: #f1121208;
  --color-ra-tomato-dark-alpha-2: #ff55330f;
  --color-ra-tomato-dark-alpha-3: #ff35232b;
  --color-ra-tomato-dark-alpha-4: #fd201142;
  --color-ra-tomato-dark-alpha-5: #fe332153;
  --color-ra-tomato-dark-alpha-6: #ff4f3864;
  --color-ra-tomato-dark-alpha-7: #fd644a7d;
  --color-ra-tomato-dark-alpha-8: #fe6d4ea7;
  --color-ra-tomato-dark-alpha-9: #fe5431e4;
  --color-ra-tomato-dark-alpha-10: #ff6847eb;
  --color-ra-tomato-dark-alpha-11: #ff977d;
  --color-ra-tomato-dark-alpha-12: #ffd6cefb;
  /* Red */
  --color-ra-red-dark-alpha-1: #f4121209;
  --color-ra-red-dark-alpha-2: #f22f3e11;
  --color-ra-red-dark-alpha-3: #ff173f2d;
  --color-ra-red-dark-alpha-4: #fe0a3b44;
  --color-ra-red-dark-alpha-5: #ff204756;
  --color-ra-red-dark-alpha-6: #ff3e5668;
  --color-ra-red-dark-alpha-7: #ff536184;
  --color-ra-red-dark-alpha-8: #ff5d61b0;
  --color-ra-red-dark-alpha-9: #fe4e54e4;
  --color-ra-red-dark-alpha-10: #ff6465eb;
  --color-ra-red-dark-alpha-11: #ff9592;
  --color-ra-red-dark-alpha-12: #ffd1d9;
  /* Ruby */
  --color-ra-ruby-dark-alpha-1: #f4124a09;
  --color-ra-ruby-dark-alpha-2: #fe5a7f0e;
  --color-ra-ruby-dark-alpha-3: #ff235d2c;
  --color-ra-ruby-dark-alpha-4: #fd195e42;
  --color-ra-ruby-dark-alpha-5: #fe2d6b53;
  --color-ra-ruby-dark-alpha-6: #ff447665;
  --color-ra-ruby-dark-alpha-7: #ff577d80;
  --color-ra-ruby-dark-alpha-8: #ff5c7cae;
  --color-ra-ruby-dark-alpha-9: #fe4c70e4;
  --color-ra-ruby-dark-alpha-10: #ff617beb;
  --color-ra-ruby-dark-alpha-11: #ff949d;
  --color-ra-ruby-dark-alpha-12: #ffd3e2fe;
  /* Crimson */
  --color-ra-crimson-dark-alpha-1: #f4126709;
  --color-ra-crimson-dark-alpha-2: #f22f7a11;
  --color-ra-crimson-dark-alpha-3: #fe2a8b2a;
  --color-ra-crimson-dark-alpha-4: #fd158741;
  --color-ra-crimson-dark-alpha-5: #fd278f51;
  --color-ra-crimson-dark-alpha-6: #fe459763;
  --color-ra-crimson-dark-alpha-7: #fd559b7f;
  --color-ra-crimson-dark-alpha-8: #fe5b9bab;
  --color-ra-crimson-dark-alpha-9: #fe418de8;
  --color-ra-crimson-dark-alpha-10: #ff5693ed;
  --color-ra-crimson-dark-alpha-11: #ff92ad;
  --color-ra-crimson-dark-alpha-12: #ffd5eafd;
  /* Pink */
  --color-ra-pink-dark-alpha-1: #f412bc09;
  --color-ra-pink-dark-alpha-2: #f420bb12;
  --color-ra-pink-dark-alpha-3: #fe37cc29;
  --color-ra-pink-dark-alpha-4: #fc1ec43f;
  --color-ra-pink-dark-alpha-5: #fd35c24e;
  --color-ra-pink-dark-alpha-6: #fd51c75f;
  --color-ra-pink-dark-alpha-7: #fd62c87b;
  --color-ra-pink-dark-alpha-8: #ff68c8a2;
  --color-ra-pink-dark-alpha-9: #fe49bcd4;
  --color-ra-pink-dark-alpha-10: #ff5cc0dc;
  --color-ra-pink-dark-alpha-11: #ff8dcc;
  --color-ra-pink-dark-alpha-12: #ffd3ecfd;
  /* Plum */
  --color-ra-plum-dark-alpha-1: #f112f108;
  --color-ra-plum-dark-alpha-2: #f22ff211;
  --color-ra-plum-dark-alpha-3: #fd4cfd27;
  --color-ra-plum-dark-alpha-4: #f646ff3a;
  --color-ra-plum-dark-alpha-5: #f455ff48;
  --color-ra-plum-dark-alpha-6: #f66dff56;
  --color-ra-plum-dark-alpha-7: #f07cfd70;
  --color-ra-plum-dark-alpha-8: #ee84ff95;
  --color-ra-plum-dark-alpha-9: #e961feb6;
  --color-ra-plum-dark-alpha-10: #ed70ffc0;
  --color-ra-plum-dark-alpha-11: #f19cfef3;
  --color-ra-plum-dark-alpha-12: #feddfef4;
  /* Purple */
  --color-ra-purple-dark-alpha-1: #b412f90b;
  --color-ra-purple-dark-alpha-2: #b744f714;
  --color-ra-purple-dark-alpha-3: #c150ff2d;
  --color-ra-purple-dark-alpha-4: #bb53fd42;
  --color-ra-purple-dark-alpha-5: #be5cfd51;
  --color-ra-purple-dark-alpha-6: #c16dfd61;
  --color-ra-purple-dark-alpha-7: #c378fd7a;
  --color-ra-purple-dark-alpha-8: #c47effa4;
  --color-ra-purple-dark-alpha-9: #b661ffc2;
  --color-ra-purple-dark-alpha-10: #bc6fffcd;
  --color-ra-purple-dark-alpha-11: #d19dff;
  --color-ra-purple-dark-alpha-12: #f1ddfffa;
  /* Violet */
  --color-ra-violet-dark-alpha-1: #4422ff0f;
  --color-ra-violet-dark-alpha-2: #853ff916;
  --color-ra-violet-dark-alpha-3: #8354fe36;
  --color-ra-violet-dark-alpha-4: #7d51fd50;
  --color-ra-violet-dark-alpha-5: #845ffd5f;
  --color-ra-violet-dark-alpha-6: #8f6cfd6d;
  --color-ra-violet-dark-alpha-7: #9879ff83;
  --color-ra-violet-dark-alpha-8: #977dfea8;
  --color-ra-violet-dark-alpha-9: #8668ffcc;
  --color-ra-violet-dark-alpha-10: #9176fed7;
  --color-ra-violet-dark-alpha-11: #baa7ff;
  --color-ra-violet-dark-alpha-12: #e3defffe;
  /* Iris */
  --color-ra-iris-dark-alpha-1: #3636fe0e;
  --color-ra-iris-dark-alpha-2: #564bf916;
  --color-ra-iris-dark-alpha-3: #525bff3b;
  --color-ra-iris-dark-alpha-4: #4d58ff5a;
  --color-ra-iris-dark-alpha-5: #5b62fd6b;
  --color-ra-iris-dark-alpha-6: #6d6ffd7a;
  --color-ra-iris-dark-alpha-7: #7777fe8e;
  --color-ra-iris-dark-alpha-8: #7b7afeac;
  --color-ra-iris-dark-alpha-9: #6a6afed4;
  --color-ra-iris-dark-alpha-10: #7d79ffdc;
  --color-ra-iris-dark-alpha-11: #b1a9ff;
  --color-ra-iris-dark-alpha-12: #e1e0fffe;
  /* Indigo */
  --color-ra-indigo-dark-alpha-1: #1133ff0f;
  --color-ra-indigo-dark-alpha-2: #3354fa17;
  --color-ra-indigo-dark-alpha-3: #2f62ff3c;
  --color-ra-indigo-dark-alpha-4: #3566ff57;
  --color-ra-indigo-dark-alpha-5: #4171fd6b;
  --color-ra-indigo-dark-alpha-6: #5178fd7c;
  --color-ra-indigo-dark-alpha-7: #5a7fff90;
  --color-ra-indigo-dark-alpha-8: #5b81feac;
  --color-ra-indigo-dark-alpha-9: #4671ffdb;
  --color-ra-indigo-dark-alpha-10: #5c7efee3;
  --color-ra-indigo-dark-alpha-11: #9eb1ff;
  --color-ra-indigo-dark-alpha-12: #d6e1ff;
  /* Blue */
  --color-ra-blue-dark-alpha-1: #004df211;
  --color-ra-blue-dark-alpha-2: #1166fb18;
  --color-ra-blue-dark-alpha-3: #0077ff3a;
  --color-ra-blue-dark-alpha-4: #0075ff57;
  --color-ra-blue-dark-alpha-5: #0081fd6b;
  --color-ra-blue-dark-alpha-6: #0f89fd7f;
  --color-ra-blue-dark-alpha-7: #2a91fe98;
  --color-ra-blue-dark-alpha-8: #3094feb9;
  --color-ra-blue-dark-alpha-9: #0090ff;
  --color-ra-blue-dark-alpha-10: #3b9eff;
  --color-ra-blue-dark-alpha-11: #70b8ff;
  --color-ra-blue-dark-alpha-12: #c2e6ff;
  /* Cyan */
  --color-ra-cyan-dark-alpha-1: #0091f70a;
  --color-ra-cyan-dark-alpha-2: #02a7f211;
  --color-ra-cyan-dark-alpha-3: #00befd28;
  --color-ra-cyan-dark-alpha-4: #00baff3b;
  --color-ra-cyan-dark-alpha-5: #00befd4d;
  --color-ra-cyan-dark-alpha-6: #00c7fd5e;
  --color-ra-cyan-dark-alpha-7: #14cdff75;
  --color-ra-cyan-dark-alpha-8: #11cfff95;
  --color-ra-cyan-dark-alpha-9: #00cfffc3;
  --color-ra-cyan-dark-alpha-10: #28d6ffcd;
  --color-ra-cyan-dark-alpha-11: #52e1fee5;
  --color-ra-cyan-dark-alpha-12: #bbf3fef7;
  /* Teal */
  --color-ra-teal-dark-alpha-1: #00deab05;
  --color-ra-teal-dark-alpha-2: #12fbe60c;
  --color-ra-teal-dark-alpha-3: #00ffe61e;
  --color-ra-teal-dark-alpha-4: #00ffe92d;
  --color-ra-teal-dark-alpha-5: #00ffea3b;
  --color-ra-teal-dark-alpha-6: #1cffe84b;
  --color-ra-teal-dark-alpha-7: #2efde85f;
  --color-ra-teal-dark-alpha-8: #32ffe775;
  --color-ra-teal-dark-alpha-9: #13ffe49f;
  --color-ra-teal-dark-alpha-10: #0dffe0ae;
  --color-ra-teal-dark-alpha-11: #0afed5d6;
  --color-ra-teal-dark-alpha-12: #b8ffebef;
  /* Jade */
  --color-ra-jade-dark-alpha-1: #00de4505;
  --color-ra-jade-dark-alpha-2: #27fba60c;
  --color-ra-jade-dark-alpha-3: #02f99920;
  --color-ra-jade-dark-alpha-4: #00ffaa2d;
  --color-ra-jade-dark-alpha-5: #11ffb63b;
  --color-ra-jade-dark-alpha-6: #34ffc24b;
  --color-ra-jade-dark-alpha-7: #45fdc75e;
  --color-ra-jade-dark-alpha-8: #48ffcf75;
  --color-ra-jade-dark-alpha-9: #38feca9d;
  --color-ra-jade-dark-alpha-10: #31fec7ab;
  --color-ra-jade-dark-alpha-11: #21fec0d6;
  --color-ra-jade-dark-alpha-12: #b8ffe1ef;
  /* Green */
  --color-ra-green-dark-alpha-1: #00de4505;
  --color-ra-green-dark-alpha-2: #29f99d0b;
  --color-ra-green-dark-alpha-3: #22ff991e;
  --color-ra-green-dark-alpha-4: #11ff992d;
  --color-ra-green-dark-alpha-5: #2bffa23c;
  --color-ra-green-dark-alpha-6: #44ffaa4b;
  --color-ra-green-dark-alpha-7: #50fdac5e;
  --color-ra-green-dark-alpha-8: #54ffad73;
  --color-ra-green-dark-alpha-9: #44ffa49e;
  --color-ra-green-dark-alpha-10: #43fea4ab;
  --color-ra-green-dark-alpha-11: #46fea5d4;
  --color-ra-green-dark-alpha-12: #bbffd7f0;
  /* Grass */
  --color-ra-grass-dark-alpha-1: #00de1205;
  --color-ra-grass-dark-alpha-2: #5ef7780a;
  --color-ra-grass-dark-alpha-3: #70fe8c1b;
  --color-ra-grass-dark-alpha-4: #57ff802c;
  --color-ra-grass-dark-alpha-5: #68ff8b3b;
  --color-ra-grass-dark-alpha-6: #71ff8f4b;
  --color-ra-grass-dark-alpha-7: #77fd925d;
  --color-ra-grass-dark-alpha-8: #77fd9070;
  --color-ra-grass-dark-alpha-9: #65ff82a1;
  --color-ra-grass-dark-alpha-10: #72ff8dae;
  --color-ra-grass-dark-alpha-11: #89ff9fcd;
  --color-ra-grass-dark-alpha-12: #ceffceef;
  /* Brown */
  --color-ra-brown-dark-alpha-1: #91110002;
  --color-ra-brown-dark-alpha-2: #fba67c0c;
  --color-ra-brown-dark-alpha-3: #fcb58c19;
  --color-ra-brown-dark-alpha-4: #fbbb8a24;
  --color-ra-brown-dark-alpha-5: #fcb88931;
  --color-ra-brown-dark-alpha-6: #fdba8741;
  --color-ra-brown-dark-alpha-7: #ffbb8856;
  --color-ra-brown-dark-alpha-8: #ffbe8773;
  --color-ra-brown-dark-alpha-9: #feb87da8;
  --color-ra-brown-dark-alpha-10: #ffc18cb3;
  --color-ra-brown-dark-alpha-11: #fed1aad9;
  --color-ra-brown-dark-alpha-12: #feecd4f2;
  /* Bronze */
  --color-ra-bronze-dark-alpha-1: #d1110004;
  --color-ra-bronze-dark-alpha-2: #fbbc910c;
  --color-ra-bronze-dark-alpha-3: #faceb817;
  --color-ra-bronze-dark-alpha-4: #facdb622;
  --color-ra-bronze-dark-alpha-5: #ffd2c12d;
  --color-ra-bronze-dark-alpha-6: #ffd1c03c;
  --color-ra-bronze-dark-alpha-7: #fdd0c04f;
  --color-ra-bronze-dark-alpha-8: #ffd6c565;
  --color-ra-bronze-dark-alpha-9: #fec7b09b;
  --color-ra-bronze-dark-alpha-10: #fecab5a9;
  --color-ra-bronze-dark-alpha-11: #ffd7c6d1;
  --color-ra-bronze-dark-alpha-12: #fff1e9ec;
  /* Gold */
  --color-ra-gold-dark-alpha-1: #91911102;
  --color-ra-gold-dark-alpha-2: #f9e29d0b;
  --color-ra-gold-dark-alpha-3: #f8ecbb15;
  --color-ra-gold-dark-alpha-4: #ffeec41e;
  --color-ra-gold-dark-alpha-5: #feecc22a;
  --color-ra-gold-dark-alpha-6: #feebcb37;
  --color-ra-gold-dark-alpha-7: #ffedcd48;
  --color-ra-gold-dark-alpha-8: #fdeaca5f;
  --color-ra-gold-dark-alpha-9: #ffdba690;
  --color-ra-gold-dark-alpha-10: #fedfb09d;
  --color-ra-gold-dark-alpha-11: #fee7c6c8;
  --color-ra-gold-dark-alpha-12: #fef7ede7;
  /* Sky */
  --color-ra-sky-dark-alpha-1: #0044ff0f;
  --color-ra-sky-dark-alpha-2: #1171fb18;
  --color-ra-sky-dark-alpha-3: #1184fc33;
  --color-ra-sky-dark-alpha-4: #128fff49;
  --color-ra-sky-dark-alpha-5: #1c9dfd5d;
  --color-ra-sky-dark-alpha-6: #28a5ff72;
  --color-ra-sky-dark-alpha-7: #2badfe8b;
  --color-ra-sky-dark-alpha-8: #1db2fea9;
  --color-ra-sky-dark-alpha-9: #7ce3fffe;
  --color-ra-sky-dark-alpha-10: #a8eeff;
  --color-ra-sky-dark-alpha-11: #7cd3ffef;
  --color-ra-sky-dark-alpha-12: #c2f3ff;
  /* Mint */
  --color-ra-mint-dark-alpha-1: #00dede05;
  --color-ra-mint-dark-alpha-2: #00f9f90b;
  --color-ra-mint-dark-alpha-3: #00fff61d;
  --color-ra-mint-dark-alpha-4: #00fff42c;
  --color-ra-mint-dark-alpha-5: #00fff23a;
  --color-ra-mint-dark-alpha-6: #0effeb4a;
  --color-ra-mint-dark-alpha-7: #34fde55e;
  --color-ra-mint-dark-alpha-8: #41ffdf76;
  --color-ra-mint-dark-alpha-9: #92ffe7e9;
  --color-ra-mint-dark-alpha-10: #aefeedf5;
  --color-ra-mint-dark-alpha-11: #67ffded2;
  --color-ra-mint-dark-alpha-12: #cbfee9f5;
  /* Lime */
  --color-ra-lime-dark-alpha-1: #11bb0003;
  --color-ra-lime-dark-alpha-2: #78f7000a;
  --color-ra-lime-dark-alpha-3: #9bfd4c1a;
  --color-ra-lime-dark-alpha-4: #a7fe5c29;
  --color-ra-lime-dark-alpha-5: #affe6537;
  --color-ra-lime-dark-alpha-6: #b2fe6d46;
  --color-ra-lime-dark-alpha-7: #b6ff6f57;
  --color-ra-lime-dark-alpha-8: #b6fd6d6c;
  --color-ra-lime-dark-alpha-9: #caff69ed;
  --color-ra-lime-dark-alpha-10: #d4ff70;
  --color-ra-lime-dark-alpha-11: #d1fe77e4;
  --color-ra-lime-dark-alpha-12: #e9febff7;
  /* Yellow */
  --color-ra-yellow-dark-alpha-1: #d1510004;
  --color-ra-yellow-dark-alpha-2: #f9b4000b;
  --color-ra-yellow-dark-alpha-3: #ffaa001e;
  --color-ra-yellow-dark-alpha-4: #fdb70028;
  --color-ra-yellow-dark-alpha-5: #febb0036;
  --color-ra-yellow-dark-alpha-6: #fec40046;
  --color-ra-yellow-dark-alpha-7: #fdcb225c;
  --color-ra-yellow-dark-alpha-8: #fdca327b;
  --color-ra-yellow-dark-alpha-9: #ffe629;
  --color-ra-yellow-dark-alpha-10: #ffff57;
  --color-ra-yellow-dark-alpha-11: #fee949f5;
  --color-ra-yellow-dark-alpha-12: #fef6baf6;
  /* Amber */
  --color-ra-amber-dark-alpha-1: #e63c0006;
  --color-ra-amber-dark-alpha-2: #fd9b000d;
  --color-ra-amber-dark-alpha-3: #fa820022;
  --color-ra-amber-dark-alpha-4: #fc820032;
  --color-ra-amber-dark-alpha-5: #fd8b0041;
  --color-ra-amber-dark-alpha-6: #fd9b0051;
  --color-ra-amber-dark-alpha-7: #ffab2567;
  --color-ra-amber-dark-alpha-8: #ffae3587;
  --color-ra-amber-dark-alpha-9: #ffc53d;
  --color-ra-amber-dark-alpha-10: #ffd60a;
  --color-ra-amber-dark-alpha-11: #ffca16;
  --color-ra-amber-dark-alpha-12: #ffe7b3;
  /* Orange */
  --color-ra-orange-dark-alpha-1: #ec360007;
  --color-ra-orange-dark-alpha-2: #fe6d000e;
  --color-ra-orange-dark-alpha-3: #fb6a0025;
  --color-ra-orange-dark-alpha-4: #ff590039;
  --color-ra-orange-dark-alpha-5: #ff61004a;
  --color-ra-orange-dark-alpha-6: #fd75045c;
  --color-ra-orange-dark-alpha-7: #ff832c75;
  --color-ra-orange-dark-alpha-8: #fe84389d;
  --color-ra-orange-dark-alpha-9: #fe6d15f7;
  --color-ra-orange-dark-alpha-10: #ff801f;
  --color-ra-orange-dark-alpha-11: #ffa057;
  --color-ra-orange-dark-alpha-12: #ffe0c2;
  /* Alpha dark */
  --color-ra-black-alpha-1: rgba(0, 0, 0, 0.05);
  --color-ra-black-alpha-2: rgba(0, 0, 0, 0.1);
  --color-ra-black-alpha-3: rgba(0, 0, 0, 0.15);
  --color-ra-black-alpha-4: rgba(0, 0, 0, 0.2);
  --color-ra-black-alpha-5: rgba(0, 0, 0, 0.3);
  --color-ra-black-alpha-6: rgba(0, 0, 0, 0.4);
  --color-ra-black-alpha-7: rgba(0, 0, 0, 0.5);
  --color-ra-black-alpha-8: rgba(0, 0, 0, 0.6);
  --color-ra-black-alpha-9: rgba(0, 0, 0, 0.7);
  --color-ra-black-alpha-10: rgba(0, 0, 0, 0.8);
  --color-ra-black-alpha-11: rgba(0, 0, 0, 0.9);
  --color-ra-black-alpha-12: rgba(0, 0, 0, 0.95);
}
