@theme {
  /* Gray */
  --color-ra-gray-alpha-1: #00000003;
  --color-ra-gray-alpha-2: #00000006;
  --color-ra-gray-alpha-3: #0000000f;
  --color-ra-gray-alpha-4: #00000017;
  --color-ra-gray-alpha-5: #0000001f;
  --color-ra-gray-alpha-6: #00000026;
  --color-ra-gray-alpha-7: #00000031;
  --color-ra-gray-alpha-8: #00000044;
  --color-ra-gray-alpha-9: #00000072;
  --color-ra-gray-alpha-10: #0000007c;
  --color-ra-gray-alpha-11: #0000009b;
  --color-ra-gray-alpha-12: #000000df;
  /* Mauve */
  --color-ra-mauve-alpha-1: #55005503;
  --color-ra-mauve-alpha-2: #2b005506;
  --color-ra-mauve-alpha-3: #30004010;
  --color-ra-mauve-alpha-4: #20003618;
  --color-ra-mauve-alpha-5: #20003820;
  --color-ra-mauve-alpha-6: #14003527;
  --color-ra-mauve-alpha-7: #10003332;
  --color-ra-mauve-alpha-8: #08003145;
  --color-ra-mauve-alpha-9: #05001d73;
  --color-ra-mauve-alpha-10: #0500197d;
  --color-ra-mauve-alpha-11: #0400119c;
  --color-ra-mauve-alpha-12: #020008e0;
  /* Slate */
  --color-ra-slate-alpha-1: #00005503;
  --color-ra-slate-alpha-2: #00005506;
  --color-ra-slate-alpha-3: #0000330f;
  --color-ra-slate-alpha-4: #00002d17;
  --color-ra-slate-alpha-5: #0009321f;
  --color-ra-slate-alpha-6: #00002f26;
  --color-ra-slate-alpha-7: #00062e32;
  --color-ra-slate-alpha-8: #00083046;
  --color-ra-slate-alpha-9: #00051d74;
  --color-ra-slate-alpha-10: #00071b7f;
  --color-ra-slate-alpha-11: #0007149f;
  --color-ra-slate-alpha-12: #000509e3;
  /* Sage */
  --color-ra-sage-alpha-1: #00804004;
  --color-ra-sage-alpha-2: #00402008;
  --color-ra-sage-alpha-3: #002d1e11;
  --color-ra-sage-alpha-4: #001f1519;
  --color-ra-sage-alpha-5: #00180820;
  --color-ra-sage-alpha-6: #00140d28;
  --color-ra-sage-alpha-7: #00140a34;
  --color-ra-sage-alpha-8: #000f0847;
  --color-ra-sage-alpha-9: #00110b79;
  --color-ra-sage-alpha-10: #00100a83;
  --color-ra-sage-alpha-11: #000a07a0;
  --color-ra-sage-alpha-12: #000805e5;
  /* Olive */
  --color-ra-olive-alpha-1: #00550003;
  --color-ra-olive-alpha-2: #00490007;
  --color-ra-olive-alpha-3: #00200010;
  --color-ra-olive-alpha-4: #00160018;
  --color-ra-olive-alpha-5: #00180020;
  --color-ra-olive-alpha-6: #00140028;
  --color-ra-olive-alpha-7: #000f0033;
  --color-ra-olive-alpha-8: #040f0047;
  --color-ra-olive-alpha-9: #050f0078;
  --color-ra-olive-alpha-10: #040e0082;
  --color-ra-olive-alpha-11: #020a00a0;
  --color-ra-olive-alpha-12: #010600e3;
  /* Sand */
  --color-ra-sand-alpha-1: #55550003;
  --color-ra-sand-alpha-2: #25250007;
  --color-ra-sand-alpha-3: #20100010;
  --color-ra-sand-alpha-4: #1f150019;
  --color-ra-sand-alpha-5: #1f180021;
  --color-ra-sand-alpha-6: #19130029;
  --color-ra-sand-alpha-7: #19140035;
  --color-ra-sand-alpha-8: #1915014a;
  --color-ra-sand-alpha-9: #0f0f0079;
  --color-ra-sand-alpha-10: #0c0c0083;
  --color-ra-sand-alpha-11: #080800a1;
  --color-ra-sand-alpha-12: #060500e3;
  /* Tomato */
  --color-ra-tomato-alpha-1: #ff000003;
  --color-ra-tomato-alpha-2: #ff200008;
  --color-ra-tomato-alpha-3: #f52b0018;
  --color-ra-tomato-alpha-4: #ff35002c;
  --color-ra-tomato-alpha-5: #ff2e003d;
  --color-ra-tomato-alpha-6: #f92d0050;
  --color-ra-tomato-alpha-7: #e7280067;
  --color-ra-tomato-alpha-8: #db250084;
  --color-ra-tomato-alpha-9: #df2600d1;
  --color-ra-tomato-alpha-10: #d72400da;
  --color-ra-tomato-alpha-11: #cd2200ea;
  --color-ra-tomato-alpha-12: #460900e0;
  /* Red */
  --color-ra-red-alpha-1: #ff000003;
  --color-ra-red-alpha-2: #ff000008;
  --color-ra-red-alpha-3: #f3000d14;
  --color-ra-red-alpha-4: #ff000824;
  --color-ra-red-alpha-5: #ff000632;
  --color-ra-red-alpha-6: #f8000442;
  --color-ra-red-alpha-7: #df000356;
  --color-ra-red-alpha-8: #d2000571;
  --color-ra-red-alpha-9: #db0007b7;
  --color-ra-red-alpha-10: #d10005c1;
  --color-ra-red-alpha-11: #c40006d3;
  --color-ra-red-alpha-12: #55000de8;
  /* Ruby */
  --color-ra-ruby-alpha-1: #ff005503;
  --color-ra-ruby-alpha-2: #ff002008;
  --color-ra-ruby-alpha-3: #f3002515;
  --color-ra-ruby-alpha-4: #ff002523;
  --color-ra-ruby-alpha-5: #ff002a31;
  --color-ra-ruby-alpha-6: #e4002440;
  --color-ra-ruby-alpha-7: #ce002553;
  --color-ra-ruby-alpha-8: #c300286d;
  --color-ra-ruby-alpha-9: #db002cb9;
  --color-ra-ruby-alpha-10: #d2002cc4;
  --color-ra-ruby-alpha-11: #c10030db;
  --color-ra-ruby-alpha-12: #550016e8;
  /* Crimson */
  --color-ra-crimson-alpha-1: #ff005503;
  --color-ra-crimson-alpha-2: #e0004008;
  --color-ra-crimson-alpha-3: #ff005216;
  --color-ra-crimson-alpha-4: #f8005123;
  --color-ra-crimson-alpha-5: #e5004f31;
  --color-ra-crimson-alpha-6: #d0004b41;
  --color-ra-crimson-alpha-7: #bf004753;
  --color-ra-crimson-alpha-8: #b6004a6c;
  --color-ra-crimson-alpha-9: #e2005bc2;
  --color-ra-crimson-alpha-10: #d70056cb;
  --color-ra-crimson-alpha-11: #c4004fe2;
  --color-ra-crimson-alpha-12: #530026e9;
  /* Pink */
  --color-ra-pink-alpha-1: #ff00aa03;
  --color-ra-pink-alpha-2: #e0008008;
  --color-ra-pink-alpha-3: #f4008c16;
  --color-ra-pink-alpha-4: #e2008b23;
  --color-ra-pink-alpha-5: #d1008331;
  --color-ra-pink-alpha-6: #c0007840;
  --color-ra-pink-alpha-7: #b6006f53;
  --color-ra-pink-alpha-8: #af006f6c;
  --color-ra-pink-alpha-9: #c8007fbf;
  --color-ra-pink-alpha-10: #c2007ac7;
  --color-ra-pink-alpha-11: #b60074d6;
  --color-ra-pink-alpha-12: #59003bed;
  /* Plum */
  --color-ra-plum-alpha-1: #aa00ff03;
  --color-ra-plum-alpha-2: #c000c008;
  --color-ra-plum-alpha-3: #cc00cc14;
  --color-ra-plum-alpha-4: #c200c921;
  --color-ra-plum-alpha-5: #b700bd2e;
  --color-ra-plum-alpha-6: #a400b03d;
  --color-ra-plum-alpha-7: #9900a852;
  --color-ra-plum-alpha-8: #9000a56e;
  --color-ra-plum-alpha-9: #89009eb5;
  --color-ra-plum-alpha-10: #7f0092bb;
  --color-ra-plum-alpha-11: #730086c1;
  --color-ra-plum-alpha-12: #40004be6;
  /* Purple */
  --color-ra-purple-alpha-1: #aa00aa03;
  --color-ra-purple-alpha-2: #8000e008;
  --color-ra-purple-alpha-3: #8e00f112;
  --color-ra-purple-alpha-4: #8d00e51d;
  --color-ra-purple-alpha-5: #8000db2a;
  --color-ra-purple-alpha-6: #7a01d03b;
  --color-ra-purple-alpha-7: #6d00c350;
  --color-ra-purple-alpha-8: #6600c06c;
  --color-ra-purple-alpha-9: #5c00adb1;
  --color-ra-purple-alpha-10: #53009eb8;
  --color-ra-purple-alpha-11: #52009aba;
  --color-ra-purple-alpha-12: #250049df;
  /* Violet */
  --color-ra-violet-alpha-1: #5500aa03;
  --color-ra-violet-alpha-2: #4900ff07;
  --color-ra-violet-alpha-3: #4400ee0f;
  --color-ra-violet-alpha-4: #4300ff1b;
  --color-ra-violet-alpha-5: #3600ff26;
  --color-ra-violet-alpha-6: #3100fb35;
  --color-ra-violet-alpha-7: #2d01dd4a;
  --color-ra-violet-alpha-8: #2b00d066;
  --color-ra-violet-alpha-9: #2400b7a9;
  --color-ra-violet-alpha-10: #2300abb2;
  --color-ra-violet-alpha-11: #1f0099af;
  --color-ra-violet-alpha-12: #0b0043d9;
  /* Iris */
  --color-ra-iris-alpha-1: #0000ff02;
  --color-ra-iris-alpha-2: #0000ff07;
  --color-ra-iris-alpha-3: #0011ee0f;
  --color-ra-iris-alpha-4: #000bff19;
  --color-ra-iris-alpha-5: #000eff25;
  --color-ra-iris-alpha-6: #000aff34;
  --color-ra-iris-alpha-7: #0008e647;
  --color-ra-iris-alpha-8: #0008d964;
  --color-ra-iris-alpha-9: #0000c0a4;
  --color-ra-iris-alpha-10: #0000b6ae;
  --color-ra-iris-alpha-11: #0600abac;
  --color-ra-iris-alpha-12: #000246d8;
  /* Indigo */
  --color-ra-indigo-alpha-1: #00008002;
  --color-ra-indigo-alpha-2: #0040ff08;
  --color-ra-indigo-alpha-3: #0047f112;
  --color-ra-indigo-alpha-4: #0044ff1e;
  --color-ra-indigo-alpha-5: #0044ff2d;
  --color-ra-indigo-alpha-6: #003eff3e;
  --color-ra-indigo-alpha-7: #0037ed54;
  --color-ra-indigo-alpha-8: #0034dc72;
  --color-ra-indigo-alpha-9: #0031d2c1;
  --color-ra-indigo-alpha-10: #002ec9cc;
  --color-ra-indigo-alpha-11: #002bb7c5;
  --color-ra-indigo-alpha-12: #001046e0;
  /* Blue */
  --color-ra-blue-alpha-1: #0080ff04;
  --color-ra-blue-alpha-2: #008cff0b;
  --color-ra-blue-alpha-3: #008ff519;
  --color-ra-blue-alpha-4: #009eff2a;
  --color-ra-blue-alpha-5: #0093ff3d;
  --color-ra-blue-alpha-6: #0088f653;
  --color-ra-blue-alpha-7: #0083eb71;
  --color-ra-blue-alpha-8: #0084e6a1;
  --color-ra-blue-alpha-9: #0090ff;
  --color-ra-blue-alpha-10: #0086f0fa;
  --color-ra-blue-alpha-11: #006dcbf2;
  --color-ra-blue-alpha-12: #002359ee;
  /* Cyan */
  --color-ra-cyan-alpha-1: #0099cc05;
  --color-ra-cyan-alpha-2: #009db10d;
  --color-ra-cyan-alpha-3: #00c2d121;
  --color-ra-cyan-alpha-4: #00bcd435;
  --color-ra-cyan-alpha-5: #01b4cc4a;
  --color-ra-cyan-alpha-6: #00a7c162;
  --color-ra-cyan-alpha-7: #009fbb82;
  --color-ra-cyan-alpha-8: #00a3c0c2;
  --color-ra-cyan-alpha-9: #00a2c7;
  --color-ra-cyan-alpha-10: #0094b7f8;
  --color-ra-cyan-alpha-11: #007491ef;
  --color-ra-cyan-alpha-12: #00323ef2;
  /* Teal */
  --color-ra-teal-alpha-1: #00cc9905;
  --color-ra-teal-alpha-2: #00aa800c;
  --color-ra-teal-alpha-3: #00c69d1f;
  --color-ra-teal-alpha-4: #00c39633;
  --color-ra-teal-alpha-5: #00b49047;
  --color-ra-teal-alpha-6: #00a6855e;
  --color-ra-teal-alpha-7: #0099807c;
  --color-ra-teal-alpha-8: #009783ac;
  --color-ra-teal-alpha-9: #009e8ced;
  --color-ra-teal-alpha-10: #009684f2;
  --color-ra-teal-alpha-11: #008573;
  --color-ra-teal-alpha-12: #00332df2;
  /* Jade */
  --color-ra-jade-alpha-1: #00c08004;
  --color-ra-jade-alpha-2: #00a3460b;
  --color-ra-jade-alpha-3: #00ae4819;
  --color-ra-jade-alpha-4: #00a85129;
  --color-ra-jade-alpha-5: #00a2553c;
  --color-ra-jade-alpha-6: #009a5753;
  --color-ra-jade-alpha-7: #00945f74;
  --color-ra-jade-alpha-8: #00976ea9;
  --color-ra-jade-alpha-9: #00916bd6;
  --color-ra-jade-alpha-10: #008764d9;
  --color-ra-jade-alpha-11: #007152df;
  --color-ra-jade-alpha-12: #002217e2;
  /* Green */
  --color-ra-green-alpha-1: #00c04004;
  --color-ra-green-alpha-2: #00a32f0b;
  --color-ra-green-alpha-3: #00a43319;
  --color-ra-green-alpha-4: #00a83829;
  --color-ra-green-alpha-5: #019c393b;
  --color-ra-green-alpha-6: #00963c52;
  --color-ra-green-alpha-7: #00914071;
  --color-ra-green-alpha-8: #00924ba4;
  --color-ra-green-alpha-9: #008f4acf;
  --color-ra-green-alpha-10: #008647d4;
  --color-ra-green-alpha-11: #00713fde;
  --color-ra-green-alpha-12: #002616e6;
  /* Grass */
  --color-ra-grass-alpha-1: #00c00004;
  --color-ra-grass-alpha-2: #0099000a;
  --color-ra-grass-alpha-3: #00970016;
  --color-ra-grass-alpha-4: #009f0725;
  --color-ra-grass-alpha-5: #00930536;
  --color-ra-grass-alpha-6: #008f0a4d;
  --color-ra-grass-alpha-7: #018b0f6b;
  --color-ra-grass-alpha-8: #008d199a;
  --color-ra-grass-alpha-9: #008619b9;
  --color-ra-grass-alpha-10: #007b17c1;
  --color-ra-grass-alpha-11: #006514d5;
  --color-ra-grass-alpha-12: #002006df;
  /* Brown */
  --color-ra-brown-alpha-1: #aa550003;
  --color-ra-brown-alpha-2: #aa550009;
  --color-ra-brown-alpha-3: #a04b0018;
  --color-ra-brown-alpha-4: #9b4a0026;
  --color-ra-brown-alpha-5: #9f4d0035;
  --color-ra-brown-alpha-6: #a04e0048;
  --color-ra-brown-alpha-7: #a34e0060;
  --color-ra-brown-alpha-8: #9f4a0081;
  --color-ra-brown-alpha-9: #823c00a7;
  --color-ra-brown-alpha-10: #723300ac;
  --color-ra-brown-alpha-11: #522100b9;
  --color-ra-brown-alpha-12: #140600d1;
  /* Bronze */
  --color-ra-bronze-alpha-1: #55000003;
  --color-ra-bronze-alpha-2: #cc33000a;
  --color-ra-bronze-alpha-3: #92250015;
  --color-ra-bronze-alpha-4: #80280020;
  --color-ra-bronze-alpha-5: #7423002c;
  --color-ra-bronze-alpha-6: #7324003a;
  --color-ra-bronze-alpha-7: #6c1f004c;
  --color-ra-bronze-alpha-8: #671c0066;
  --color-ra-bronze-alpha-9: #551a008d;
  --color-ra-bronze-alpha-10: #4c150097;
  --color-ra-bronze-alpha-11: #3d0f00ab;
  --color-ra-bronze-alpha-12: #1d0600d4;
  /* Gold */
  --color-ra-gold-alpha-1: #55550003;
  --color-ra-gold-alpha-2: #9d8a000d;
  --color-ra-gold-alpha-3: #75600018;
  --color-ra-gold-alpha-4: #6b4e0024;
  --color-ra-gold-alpha-5: #60460030;
  --color-ra-gold-alpha-6: #64440040;
  --color-ra-gold-alpha-7: #63420055;
  --color-ra-gold-alpha-8: #633d0072;
  --color-ra-gold-alpha-9: #5332009a;
  --color-ra-gold-alpha-10: #492d00a1;
  --color-ra-gold-alpha-11: #362100b4;
  --color-ra-gold-alpha-12: #130c00d4;
  /* Sky */
  --color-ra-sky-alpha-1: #00d5ff06;
  --color-ra-sky-alpha-2: #00a4db0e;
  --color-ra-sky-alpha-3: #00b3ee1e;
  --color-ra-sky-alpha-4: #00ace42e;
  --color-ra-sky-alpha-5: #00a1d841;
  --color-ra-sky-alpha-6: #0092ca56;
  --color-ra-sky-alpha-7: #0089c172;
  --color-ra-sky-alpha-8: #0085bf9f;
  --color-ra-sky-alpha-9: #00c7fe83;
  --color-ra-sky-alpha-10: #00bcf38b;
  --color-ra-sky-alpha-11: #00749e;
  --color-ra-sky-alpha-12: #002540e2;
  /* Mint */
  --color-ra-mint-alpha-1: #00d5aa06;
  --color-ra-mint-alpha-2: #00b18a0d;
  --color-ra-mint-alpha-3: #00d29e22;
  --color-ra-mint-alpha-4: #00cc9937;
  --color-ra-mint-alpha-5: #00c0914c;
  --color-ra-mint-alpha-6: #00b08663;
  --color-ra-mint-alpha-7: #00a17d81;
  --color-ra-mint-alpha-8: #009e7fb3;
  --color-ra-mint-alpha-9: #00d3a579;
  --color-ra-mint-alpha-10: #00c39982;
  --color-ra-mint-alpha-11: #007763fd;
  --color-ra-mint-alpha-12: #00312ae9;
  /* Lime */
  --color-ra-lime-alpha-1: #66990005;
  --color-ra-lime-alpha-2: #6b95000c;
  --color-ra-lime-alpha-3: #96c80029;
  --color-ra-lime-alpha-4: #8fc60042;
  --color-ra-lime-alpha-5: #81bb0059;
  --color-ra-lime-alpha-6: #72aa006e;
  --color-ra-lime-alpha-7: #61990087;
  --color-ra-lime-alpha-8: #559200ab;
  --color-ra-lime-alpha-9: #93e4009c;
  --color-ra-lime-alpha-10: #8fdc00b3;
  --color-ra-lime-alpha-11: #375f00d0;
  --color-ra-lime-alpha-12: #1e2900e3;
  /* Yellow */
  --color-ra-yellow-alpha-1: #aaaa0006;
  --color-ra-yellow-alpha-2: #f4dd0016;
  --color-ra-yellow-alpha-3: #ffee0047;
  --color-ra-yellow-alpha-4: #ffe3016b;
  --color-ra-yellow-alpha-5: #ffd5008f;
  --color-ra-yellow-alpha-6: #ebbc0097;
  --color-ra-yellow-alpha-7: #d2a10098;
  --color-ra-yellow-alpha-8: #c99700c6;
  --color-ra-yellow-alpha-9: #ffe100d6;
  --color-ra-yellow-alpha-10: #ffdc00;
  --color-ra-yellow-alpha-11: #9e6c00;
  --color-ra-yellow-alpha-12: #2e2000e0;
  /* Amber */
  --color-ra-amber-alpha-1: #c0800004;
  --color-ra-amber-alpha-2: #f4d10016;
  --color-ra-amber-alpha-3: #ffde003d;
  --color-ra-amber-alpha-4: #ffd40063;
  --color-ra-amber-alpha-5: #f8cf0088;
  --color-ra-amber-alpha-6: #eab5008c;
  --color-ra-amber-alpha-7: #dc9b009d;
  --color-ra-amber-alpha-8: #da8a00c9;
  --color-ra-amber-alpha-9: #ffb300c2;
  --color-ra-amber-alpha-10: #ffb300e7;
  --color-ra-amber-alpha-11: #ab6400;
  --color-ra-amber-alpha-12: #341500dd;
  /* Orange */
  --color-ra-orange-alpha-1: #c0400004;
  --color-ra-orange-alpha-2: #ff8e0012;
  --color-ra-orange-alpha-3: #ff9c0029;
  --color-ra-orange-alpha-4: #ff91014a;
  --color-ra-orange-alpha-5: #ff8b0065;
  --color-ra-orange-alpha-6: #ff81007d;
  --color-ra-orange-alpha-7: #ed6c008c;
  --color-ra-orange-alpha-8: #e35f00aa;
  --color-ra-orange-alpha-9: #f65e00ea;
  --color-ra-orange-alpha-10: #ef5f00;
  --color-ra-orange-alpha-11: #cc4e00;
  --color-ra-orange-alpha-12: #431200e2;
  /* Alpha */
  --color-ra-white-alpha-1: rgba(255, 255, 255, 0.05);
  --color-ra-white-alpha-2: rgba(255, 255, 255, 0.1);
  --color-ra-white-alpha-3: rgba(255, 255, 255, 0.15);
  --color-ra-white-alpha-4: rgba(255, 255, 255, 0.2);
  --color-ra-white-alpha-5: rgba(255, 255, 255, 0.3);
  --color-ra-white-alpha-6: rgba(255, 255, 255, 0.4);
  --color-ra-white-alpha-7: rgba(255, 255, 255, 0.5);
  --color-ra-white-alpha-8: rgba(255, 255, 255, 0.6);
  --color-ra-white-alpha-9: rgba(255, 255, 255, 0.7);
  --color-ra-white-alpha-10: rgba(255, 255, 255, 0.8);
  --color-ra-white-alpha-11: rgba(255, 255, 255, 0.9);
  --color-ra-white-alpha-12: rgba(255, 255, 255, 0.95);
}
