@theme {
  /* gray */
  --color-uni-gray-0: #f8fafb;
  --color-uni-gray-1: #f2f4f6;
  --color-uni-gray-2: #ebedef;
  --color-uni-gray-3: #e0e4e5;
  --color-uni-gray-4: #d1d6d8;
  --color-uni-gray-5: #b1b6b9;
  --color-uni-gray-6: #979b9d;
  --color-uni-gray-7: #7e8282;
  --color-uni-gray-8: #666968;
  --color-uni-gray-9: #50514f;
  --color-uni-gray-10: #3a3a37;
  --color-uni-gray-11: #252521;
  --color-uni-gray-12: #121210;
  /* red */
  --color-uni-red-0: #fff5f5;
  --color-uni-red-1: #ffe3e3;
  --color-uni-red-2: #ffc9c9;
  --color-uni-red-3: #ffa8a8;
  --color-uni-red-4: #ff8787;
  --color-uni-red-5: #ff6b6b;
  --color-uni-red-6: #fa5252;
  --color-uni-red-7: #f03e3e;
  --color-uni-red-8: #e03131;
  --color-uni-red-9: #c92a2a;
  --color-uni-red-10: #b02525;
  --color-uni-red-11: #962020;
  --color-uni-red-12: #7d1a1a;
  /* pink */
  --color-uni-pink-0: #fff0f6;
  --color-uni-pink-1: #ffdeeb;
  --color-uni-pink-2: #fcc2d7;
  --color-uni-pink-3: #faa2c1;
  --color-uni-pink-4: #f783ac;
  --color-uni-pink-5: #f06595;
  --color-uni-pink-6: #e64980;
  --color-uni-pink-7: #d6336c;
  --color-uni-pink-8: #c2255c;
  --color-uni-pink-9: #a61e4d;
  --color-uni-pink-10: #8c1941;
  --color-uni-pink-11: #731536;
  --color-uni-pink-12: #59102a;
  /* purple */
  --color-uni-purple-0: #f8f0fc;
  --color-uni-purple-1: #f3d9fa;
  --color-uni-purple-2: #eebefa;
  --color-uni-purple-3: #e599f7;
  --color-uni-purple-4: #da77f2;
  --color-uni-purple-5: #cc5de8;
  --color-uni-purple-6: #be4bdb;
  --color-uni-purple-7: #ae3ec9;
  --color-uni-purple-8: #9c36b5;
  --color-uni-purple-9: #862e9c;
  --color-uni-purple-10: #702682;
  --color-uni-purple-11: #5a1e69;
  --color-uni-purple-12: #44174f;
  /* violet */
  --color-uni-violet-0: #f3f0ff;
  --color-uni-violet-1: #e5dbff;
  --color-uni-violet-2: #d0bfff;
  --color-uni-violet-3: #b197fc;
  --color-uni-violet-4: #9775fa;
  --color-uni-violet-5: #845ef7;
  --color-uni-violet-6: #7950f2;
  --color-uni-violet-7: #7048e8;
  --color-uni-violet-8: #6741d9;
  --color-uni-violet-9: #5f3dc4;
  --color-uni-violet-10: #5235ab;
  --color-uni-violet-11: #462d91;
  --color-uni-violet-12: #3a2578;
  /* indigo */
  --color-uni-indigo-0: #edf2ff;
  --color-uni-indigo-1: #dbe4ff;
  --color-uni-indigo-2: #bac8ff;
  --color-uni-indigo-3: #91a7ff;
  --color-uni-indigo-4: #748ffc;
  --color-uni-indigo-5: #5c7cfa;
  --color-uni-indigo-6: #4c6ef5;
  --color-uni-indigo-7: #4263eb;
  --color-uni-indigo-8: #3b5bdb;
  --color-uni-indigo-9: #364fc7;
  --color-uni-indigo-10: #2f44ad;
  --color-uni-indigo-11: #283a94;
  --color-uni-indigo-12: #21307a;
  /* blue */
  --color-uni-blue-0: #e7f5ff;
  --color-uni-blue-1: #d0ebff;
  --color-uni-blue-2: #a5d8ff;
  --color-uni-blue-3: #74c0fc;
  --color-uni-blue-4: #4dabf7;
  --color-uni-blue-5: #339af0;
  --color-uni-blue-6: #228be6;
  --color-uni-blue-7: #1c7ed6;
  --color-uni-blue-8: #1971c2;
  --color-uni-blue-9: #1864ab;
  --color-uni-blue-10: #145591;
  --color-uni-blue-11: #114678;
  --color-uni-blue-12: #0d375e;
  /* cyan */
  --color-uni-cyan-0: #e3fafc;
  --color-uni-cyan-1: #c5f6fa;
  --color-uni-cyan-2: #99e9f2;
  --color-uni-cyan-3: #66d9e8;
  --color-uni-cyan-4: #3bc9db;
  --color-uni-cyan-5: #22b8cf;
  --color-uni-cyan-6: #15aabf;
  --color-uni-cyan-7: #1098ad;
  --color-uni-cyan-8: #0c8599;
  --color-uni-cyan-9: #0b7285;
  --color-uni-cyan-10: #095c6b;
  --color-uni-cyan-11: #074652;
  --color-uni-cyan-12: #053038;
  /* teal */
  --color-uni-teal-0: #e6fcf5;
  --color-uni-teal-1: #c3fae8;
  --color-uni-teal-2: #96f2d7;
  --color-uni-teal-3: #63e6be;
  --color-uni-teal-4: #38d9a9;
  --color-uni-teal-5: #20c997;
  --color-uni-teal-6: #12b886;
  --color-uni-teal-7: #0ca678;
  --color-uni-teal-8: #099268;
  --color-uni-teal-9: #087f5b;
  --color-uni-teal-10: #066649;
  --color-uni-teal-11: #054d37;
  --color-uni-teal-12: #033325;
  /* green */
  --color-uni-green-0: #ebfbee;
  --color-uni-green-1: #d3f9d8;
  --color-uni-green-2: #b2f2bb;
  --color-uni-green-3: #8ce99a;
  --color-uni-green-4: #69db7c;
  --color-uni-green-5: #51cf66;
  --color-uni-green-6: #40c057;
  --color-uni-green-7: #37b24d;
  --color-uni-green-8: #2f9e44;
  --color-uni-green-9: #2b8a3e;
  --color-uni-green-10: #237032;
  --color-uni-green-11: #1b5727;
  --color-uni-green-12: #133d1b;
  /* lime */
  --color-uni-lime-0: #f4fce3;
  --color-uni-lime-1: #e9fac8;
  --color-uni-lime-2: #d8f5a2;
  --color-uni-lime-3: #c0eb75;
  --color-uni-lime-4: #a9e34b;
  --color-uni-lime-5: #94d82d;
  --color-uni-lime-6: #82c91e;
  --color-uni-lime-7: #74b816;
  --color-uni-lime-8: #66a80f;
  --color-uni-lime-9: #5c940d;
  --color-uni-lime-10: #4c7a0b;
  --color-uni-lime-11: #3c6109;
  --color-uni-lime-12: #2c4706;
  /* yellow */
  --color-uni-yellow-0: #fff9db;
  --color-uni-yellow-1: #fff3bf;
  --color-uni-yellow-2: #ffec99;
  --color-uni-yellow-3: #ffe066;
  --color-uni-yellow-4: #ffd43b;
  --color-uni-yellow-5: #fcc419;
  --color-uni-yellow-6: #fab005;
  --color-uni-yellow-7: #f59f00;
  --color-uni-yellow-8: #f08c00;
  --color-uni-yellow-9: #e67700;
  --color-uni-yellow-10: #b35c00;
  --color-uni-yellow-11: #804200;
  --color-uni-yellow-12: #663500;
  /* orange */
  --color-uni-orange-0: #fff4e6;
  --color-uni-orange-1: #ffe8cc;
  --color-uni-orange-2: #ffd8a8;
  --color-uni-orange-3: #ffc078;
  --color-uni-orange-4: #ffa94d;
  --color-uni-orange-5: #ff922b;
  --color-uni-orange-6: #fd7e14;
  --color-uni-orange-7: #f76707;
  --color-uni-orange-8: #e8590c;
  --color-uni-orange-9: #d9480f;
  --color-uni-orange-10: #bf400d;
  --color-uni-orange-11: #99330b;
  --color-uni-orange-12: #802b09;
  /* choco */
  --color-uni-choco-0: #fff8dc;
  --color-uni-choco-1: #fce1bc;
  --color-uni-choco-2: #f7ca9e;
  --color-uni-choco-3: #f1b280;
  --color-uni-choco-4: #e99b62;
  --color-uni-choco-5: #df8545;
  --color-uni-choco-6: #d46e25;
  --color-uni-choco-7: #bd5f1b;
  --color-uni-choco-8: #a45117;
  --color-uni-choco-9: #8a4513;
  --color-uni-choco-10: #703a13;
  --color-uni-choco-11: #572f12;
  --color-uni-choco-12: #3d210d;
  /* brown */
  --color-uni-brown-0: #faf4eb;
  --color-uni-brown-1: #ede0d1;
  --color-uni-brown-2: #e0cab7;
  --color-uni-brown-3: #d3b79e;
  --color-uni-brown-4: #c5a285;
  --color-uni-brown-5: #b78f6d;
  --color-uni-brown-6: #a87c56;
  --color-uni-brown-7: #956b47;
  --color-uni-brown-8: #825b3a;
  --color-uni-brown-9: #6f4b2d;
  --color-uni-brown-10: #5e3a21;
  --color-uni-brown-11: #4e2b15;
  --color-uni-brown-12: #422412;
  /* sand */
  --color-uni-sand-0: #f8fafb;
  --color-uni-sand-1: #e6e4dc;
  --color-uni-sand-2: #d5cfbd;
  --color-uni-sand-3: #c2b9a0;
  --color-uni-sand-4: #aea58c;
  --color-uni-sand-5: #9a9178;
  --color-uni-sand-6: #867c65;
  --color-uni-sand-7: #736a53;
  --color-uni-sand-8: #5f5746;
  --color-uni-sand-9: #4b4639;
  --color-uni-sand-10: #38352d;
  --color-uni-sand-11: #252521;
  --color-uni-sand-12: #121210;
  /* camo */
  --color-uni-camo-0: #f9fbe7;
  --color-uni-camo-1: #e8ed9c;
  --color-uni-camo-2: #d2df4e;
  --color-uni-camo-3: #c2ce34;
  --color-uni-camo-4: #b5bb2e;
  --color-uni-camo-5: #a7a827;
  --color-uni-camo-6: #999621;
  --color-uni-camo-7: #8c851c;
  --color-uni-camo-8: #7e7416;
  --color-uni-camo-9: #6d6414;
  --color-uni-camo-10: #5d5411;
  --color-uni-camo-11: #4d460e;
  --color-uni-camo-12: #36300a;
  /* jungle */
  --color-uni-jungle-0: #ecfeb0;
  --color-uni-jungle-1: #def39a;
  --color-uni-jungle-2: #d0e884;
  --color-uni-jungle-3: #c2dd6e;
  --color-uni-jungle-4: #b5d15b;
  --color-uni-jungle-5: #a8c648;
  --color-uni-jungle-6: #9bbb36;
  --color-uni-jungle-7: #8fb024;
  --color-uni-jungle-8: #84a513;
  --color-uni-jungle-9: #7a9908;
  --color-uni-jungle-10: #658006;
  --color-uni-jungle-11: #516605;
  --color-uni-jungle-12: #3d4d04;
}
