@theme {
  /* gray */
  --color-uni-gray-0: '#F8FAFB';
  --color-uni-gray-1: '#F2F4F6';
  --color-uni-gray-2: '#EBEDEF';
  --color-uni-gray-3: '#E0E4E5';
  --color-uni-gray-4: '#D1D6D8';
  --color-uni-gray-5: '#B1B6B9';
  --color-uni-gray-6: '#979B9D';
  --color-uni-gray-7: '#7E8282';
  --color-uni-gray-8: '#666968';
  --color-uni-gray-9: '#50514F';
  --color-uni-gray-10: '#3A3A37';
  --color-uni-gray-11: '#252521';
  --color-uni-gray-12: '#121210';
  /* red */
  --color-uni-red-0: '#FFF5F5';
  --color-uni-red-1: '#FFE3E3';
  --color-uni-red-2: '#FFC9C9';
  --color-uni-red-3: '#FFA8A8';
  --color-uni-red-4: '#FF8787';
  --color-uni-red-5: '#FF6B6B';
  --color-uni-red-6: '#FA5252';
  --color-uni-red-7: '#F03E3E';
  --color-uni-red-8: '#E03131';
  --color-uni-red-9: '#C92A2A';
  --color-uni-red-10: '#B02525';
  --color-uni-red-11: '#962020';
  --color-uni-red-12: '#7D1A1A';
  /* pink */
  --color-uni-pink-0: '#FFF0F6';
  --color-uni-pink-1: '#FFDEEB';
  --color-uni-pink-2: '#FCC2D7';
  --color-uni-pink-3: '#FAA2C1';
  --color-uni-pink-4: '#F783AC';
  --color-uni-pink-5: '#F06595';
  --color-uni-pink-6: '#E64980';
  --color-uni-pink-7: '#D6336C';
  --color-uni-pink-8: '#C2255C';
  --color-uni-pink-9: '#A61E4D';
  --color-uni-pink-10: '#8C1941';
  --color-uni-pink-11: '#731536';
  --color-uni-pink-12: '#59102A';
  /* purple */
  --color-uni-purple-0: '#F8F0FC';
  --color-uni-purple-1: '#F3D9FA';
  --color-uni-purple-2: '#EEBEFA';
  --color-uni-purple-3: '#E599F7';
  --color-uni-purple-4: '#DA77F2';
  --color-uni-purple-5: '#CC5DE8';
  --color-uni-purple-6: '#BE4BDB';
  --color-uni-purple-7: '#AE3EC9';
  --color-uni-purple-8: '#9C36B5';
  --color-uni-purple-9: '#862E9C';
  --color-uni-purple-10: '#702682';
  --color-uni-purple-11: '#5A1E69';
  --color-uni-purple-12: '#44174F';
  /* violet */
  --color-uni-violet-0: '#F3F0FF';
  --color-uni-violet-1: '#E5DBFF';
  --color-uni-violet-2: '#D0BFFF';
  --color-uni-violet-3: '#B197FC';
  --color-uni-violet-4: '#9775FA';
  --color-uni-violet-5: '#845EF7';
  --color-uni-violet-6: '#7950F2';
  --color-uni-violet-7: '#7048E8';
  --color-uni-violet-8: '#6741D9';
  --color-uni-violet-9: '#5F3DC4';
  --color-uni-violet-10: '#5235AB';
  --color-uni-violet-11: '#462D91';
  --color-uni-violet-12: '#3A2578';
  /* indigo */
  --color-uni-indigo-0: '#EDF2FF';
  --color-uni-indigo-1: '#DBE4FF';
  --color-uni-indigo-2: '#BAC8FF';
  --color-uni-indigo-3: '#91A7FF';
  --color-uni-indigo-4: '#748FFC';
  --color-uni-indigo-5: '#5C7CFA';
  --color-uni-indigo-6: '#4C6EF5';
  --color-uni-indigo-7: '#4263EB';
  --color-uni-indigo-8: '#3B5BDB';
  --color-uni-indigo-9: '#364FC7';
  --color-uni-indigo-10: '#2F44AD';
  --color-uni-indigo-11: '#283A94';
  --color-uni-indigo-12: '#21307A';
  /* blue */
  --color-uni-blue-0: '#E7F5FF';
  --color-uni-blue-1: '#D0EBFF';
  --color-uni-blue-2: '#A5D8FF';
  --color-uni-blue-3: '#74C0FC';
  --color-uni-blue-4: '#4DABF7';
  --color-uni-blue-5: '#339AF0';
  --color-uni-blue-6: '#228BE6';
  --color-uni-blue-7: '#1C7ED6';
  --color-uni-blue-8: '#1971C2';
  --color-uni-blue-9: '#1864AB';
  --color-uni-blue-10: '#145591';
  --color-uni-blue-11: '#114678';
  --color-uni-blue-12: '#0D375E';
  /* cyan */
  --color-uni-cyan-0: '#E3FAFC';
  --color-uni-cyan-1: '#C5F6FA';
  --color-uni-cyan-2: '#99E9F2';
  --color-uni-cyan-3: '#66D9E8';
  --color-uni-cyan-4: '#3BC9DB';
  --color-uni-cyan-5: '#22B8CF';
  --color-uni-cyan-6: '#15AABF';
  --color-uni-cyan-7: '#1098AD';
  --color-uni-cyan-8: '#0C8599';
  --color-uni-cyan-9: '#0B7285';
  --color-uni-cyan-10: '#095C6B';
  --color-uni-cyan-11: '#074652';
  --color-uni-cyan-12: '#053038';
  /* teal */
  --color-uni-teal-0: '#E6FCF5';
  --color-uni-teal-1: '#C3FAE8';
  --color-uni-teal-2: '#96F2D7';
  --color-uni-teal-3: '#63E6BE';
  --color-uni-teal-4: '#38D9A9';
  --color-uni-teal-5: '#20C997';
  --color-uni-teal-6: '#12B886';
  --color-uni-teal-7: '#0CA678';
  --color-uni-teal-8: '#099268';
  --color-uni-teal-9: '#087F5B';
  --color-uni-teal-10: '#066649';
  --color-uni-teal-11: '#054D37';
  --color-uni-teal-12: '#033325';
  /* green */
  --color-uni-green-0: '#EBFBEE';
  --color-uni-green-1: '#D3F9D8';
  --color-uni-green-2: '#B2F2BB';
  --color-uni-green-3: '#8CE99A';
  --color-uni-green-4: '#69DB7C';
  --color-uni-green-5: '#51CF66';
  --color-uni-green-6: '#40C057';
  --color-uni-green-7: '#37B24D';
  --color-uni-green-8: '#2F9E44';
  --color-uni-green-9: '#2B8A3E';
  --color-uni-green-10: '#237032';
  --color-uni-green-11: '#1B5727';
  --color-uni-green-12: '#133D1B';
  /* lime */
  --color-uni-lime-0: '#F4FCE3';
  --color-uni-lime-1: '#E9FAC8';
  --color-uni-lime-2: '#D8F5A2';
  --color-uni-lime-3: '#C0EB75';
  --color-uni-lime-4: '#A9E34B';
  --color-uni-lime-5: '#94D82D';
  --color-uni-lime-6: '#82C91E';
  --color-uni-lime-7: '#74B816';
  --color-uni-lime-8: '#66A80F';
  --color-uni-lime-9: '#5C940D';
  --color-uni-lime-10: '#4C7A0B';
  --color-uni-lime-11: '#3C6109';
  --color-uni-lime-12: '#2C4706';
  /* yellow */
  --color-uni-yellow-0: '#FFF9DB';
  --color-uni-yellow-1: '#FFF3BF';
  --color-uni-yellow-2: '#FFEC99';
  --color-uni-yellow-3: '#FFE066';
  --color-uni-yellow-4: '#FFD43B';
  --color-uni-yellow-5: '#FCC419';
  --color-uni-yellow-6: '#FAB005';
  --color-uni-yellow-7: '#F59F00';
  --color-uni-yellow-8: '#F08C00';
  --color-uni-yellow-9: '#E67700';
  --color-uni-yellow-10: '#B35C00';
  --color-uni-yellow-11: '#804200';
  --color-uni-yellow-12: '#663500';
  /* orange */
  --color-uni-orange-0: '#FFF4E6';
  --color-uni-orange-1: '#FFE8CC';
  --color-uni-orange-2: '#FFD8A8';
  --color-uni-orange-3: '#FFC078';
  --color-uni-orange-4: '#FFA94D';
  --color-uni-orange-5: '#FF922B';
  --color-uni-orange-6: '#FD7E14';
  --color-uni-orange-7: '#F76707';
  --color-uni-orange-8: '#E8590C';
  --color-uni-orange-9: '#D9480F';
  --color-uni-orange-10: '#BF400D';
  --color-uni-orange-11: '#99330B';
  --color-uni-orange-12: '#802B09';
  /* choco */
  --color-uni-choco-0: '#FFF8DC';
  --color-uni-choco-1: '#FCE1BC';
  --color-uni-choco-2: '#F7CA9E';
  --color-uni-choco-3: '#F1B280';
  --color-uni-choco-4: '#E99B62';
  --color-uni-choco-5: '#DF8545';
  --color-uni-choco-6: '#D46E25';
  --color-uni-choco-7: '#BD5F1B';
  --color-uni-choco-8: '#A45117';
  --color-uni-choco-9: '#8A4513';
  --color-uni-choco-10: '#703A13';
  --color-uni-choco-11: '#572F12';
  --color-uni-choco-12: '#3D210D';
  /* brown */
  --color-uni-brown-0: '#FAF4EB';
  --color-uni-brown-1: '#EDE0D1';
  --color-uni-brown-2: '#E0CAB7';
  --color-uni-brown-3: '#D3B79E';
  --color-uni-brown-4: '#C5A285';
  --color-uni-brown-5: '#B78F6D';
  --color-uni-brown-6: '#A87C56';
  --color-uni-brown-7: '#956B47';
  --color-uni-brown-8: '#825B3A';
  --color-uni-brown-9: '#6F4B2D';
  --color-uni-brown-10: '#5E3A21';
  --color-uni-brown-11: '#4E2B15';
  --color-uni-brown-12: '#422412';
  /* sand */
  --color-uni-sand-0: '#F8FAFB';
  --color-uni-sand-1: '#E6E4DC';
  --color-uni-sand-2: '#D5CFBD';
  --color-uni-sand-3: '#C2B9A0';
  --color-uni-sand-4: '#AEA58C';
  --color-uni-sand-5: '#9A9178';
  --color-uni-sand-6: '#867C65';
  --color-uni-sand-7: '#736A53';
  --color-uni-sand-8: '#5F5746';
  --color-uni-sand-9: '#4B4639';
  --color-uni-sand-10: '#38352D';
  --color-uni-sand-11: '#252521';
  --color-uni-sand-12: '#121210';
  /* camo */
  --color-uni-camo-0: '#F9FBE7';
  --color-uni-camo-1: '#E8ED9C';
  --color-uni-camo-2: '#D2DF4E';
  --color-uni-camo-3: '#C2CE34';
  --color-uni-camo-4: '#B5BB2E';
  --color-uni-camo-5: '#A7A827';
  --color-uni-camo-6: '#999621';
  --color-uni-camo-7: '#8C851C';
  --color-uni-camo-8: '#7E7416';
  --color-uni-camo-9: '#6D6414';
  --color-uni-camo-10: '#5D5411';
  --color-uni-camo-11: '#4D460E';
  --color-uni-camo-12: '#36300A';
  /* jungle */
  --color-uni-jungle-0: '#ECFEB0';
  --color-uni-jungle-1: '#DEF39A';
  --color-uni-jungle-2: '#D0E884';
  --color-uni-jungle-3: '#C2DD6E';
  --color-uni-jungle-4: '#B5D15B';
  --color-uni-jungle-5: '#A8C648';
  --color-uni-jungle-6: '#9BBB36';
  --color-uni-jungle-7: '#8FB024';
  --color-uni-jungle-8: '#84A513';
  --color-uni-jungle-9: '#7A9908';
  --color-uni-jungle-10: '#658006';
  --color-uni-jungle-11: '#516605';
  --color-uni-jungle-12: '#3D4D04';
}
